@tailwind base;
@tailwind components;
@tailwind utilities;



html, main {
    background-color: #021f27;
    scroll-behavior: smooth ;
}

.card {
background-color: #044151;
}
.card:hover {
    background-color: #065b70;
    transform: translateY(-0.50rem);
    transition: all 0.3s;
}

.project-card:hover {
    transform: translateY(-0.50rem);
    transition: all 0.3s;
    .project-info {
        background-color: #065b70;

    }
}

.project-card {
    max-width: 400px;
    max-height: 400px;
}

.form-input {
    background-color: #065b70;
    border-width: 1px;
    border-color: #498897;
}


.submit:hover {
    transform: translateY(-0.50rem);
    transition: all 0.3s;
    
}

.footer-anchor:hover {
    transform: translateY(-0.50rem);
    transition: all 0.3s;
}

@keyframes aparecer {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  #svg {
    animation: aparecer 1.5s forwards, bounce 1.5s 1.5s infinite;
  }
  
 

